@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

:root {
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #aca54f;
    --text-secondary: #e9ec11;
    --bg-primary: #4040c9;
    --bg-secondary: #9b36ee;
    --transition-speed: 600ms;
  }


  
  main {
    margin-left: 5rem;
  }
  
  body::-webkit-scrollbar {
    width: 0.2rem;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(226, 161, 41);
  }
  
  body::-webkit-scrollbar-thumb {
    background: slateblue;
  }
  
  .navbar {
    position:fixed;
      z-index: 100;
    margin-top: 5rem;
    width: 5rem;
    height: 100vh;
    background-color: rgb(68, 121, 219);
    position: fixed;
    transition: width 600ms ease;
    overflow: scroll;
  }
  
  .appbar {
    margin-top: -5rem;
    width: 100vw;
    height: 5rem;
    background-color: rgba(176, 185, 201, 0.2);
    position: fixed;
    transition: width 600ms ease;

  }
  
  .navbar-nav {
      z-index: 100;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .tabs {
    background-color: rgba(138, 121, 170, 0.5);
    list-style: none;
    padding-left:10%;
    padding-right: 1vw;
    /* margin-top: ; */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
  
  .tab-item{
    width: 100%;
    display: inline-grid;
  }
  .tab-item:first-child{
    justify-content: left;
    padding-left: 0.5rem;
    font-family: roboto;
    font-weight: 400;
    font-size: 3rem;
    
  }
  .tab-item:first-child img {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 100%;
    margin-right: 10px;
padding-top: 1rem;
  }
  .nav-item  {
    width: 100%;

    margin-right: 3rem;
  }
  
  .tab-item {
    color: white;
    font-size: 1.2em;
    font-family: Berlin Sans FB, sans-serif;
    font-weight: 400;
    margin: 0;
    border: 1px solid none;
    text-align: center;
    /*margin:10px;*/
    padding: 0;
    flex: 1;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .tab-item:last-child {
    margin-left: auto;
    justify-content: right;
    display: inline-grid;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    /* margin-right: 3rem; */
    padding-right: 3rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
    line-height: 2;
  }
  .tlink-text {
    align-items: center;
  }
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .tab-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .logo {
    font-weight: bold;
  
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  .name{
    font-family: 'Caveat Brush', cursive;
  }
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .navbar .nav-item:hover #setlogo {
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: Linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
      padding: 0;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 75vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text {
      left: 0px;
    }
  }
  